{{ define "cms_footer" }}
   <!--广告位1080*100--> 
   <div class="wr"> 
    <!-- 公共右侧浮动窗口 --> 
    <div id="right-share" class="sidebarcom" style="position: absolute; top: 1010px; margin-top: 0px;"> 
     <div class="loginbtn jsRightUserLogin"> 
      <a class="log" href="javascript:;" onclick="showLogin();"></a> 
     </div> 
     <div id="share-link" class="share"> 
      <span id="showa-link" class="showa" style="display:none;"> <a href="javascript:;" data-type="1"><i class="sinawb"></i></a> <a href="javascript:;" data-type="2"><i class="qqwb"></i></a> <a href="javascript:;" data-type="3"><i class="qzone"></i></a> <a href="javascript:;" data-type="4"><i class="renren"></i></a> <a href="javascript:;" data-type="5" class="weiper"><i class="weixin"></i><span id="jsCode"></span></a> </span> 
      <span class="fshare"> <a href="javascript:;">分享有奖</a> <i class="bom"></i> </span> 
     </div> 
     <div id="goTopBtn" class="gtop" style="display: none;">
      <i class="icon-gtop" title="返回顶部"></i> 
     </div> 
     <a class="feedbacks" href="http://www.haibao.com/question.htm" target="_blank">用户反馈</a> 
    </div> 
    <div class="clear"></div> 
    <footer> 
     <div class="channel_foot"> 
      <div class="foot_menu"> 
       <a href="http://www.haibao.com/about.htm" title="关于我们" target="_blank">关于我们</a> 
       <a href="http://www.haibao.com/protocol/" title="服务协议" target="_blank">服务协议</a> 
       <a href="http://www.haibao.com/privacy/" title="隐私声明" target="_blank">隐私声明</a> 
       <a href="http://www.haibao.com/links.htm" title="友情链接" target="_blank">友情链接</a> 
       <a href="http://www.haibao.com/hr.htm" title="加入我们" target="_blank">加入我们</a> 
       <a href="http://www.haibao.com/contact/" title="联系我们" target="_blank">联系我们</a> 
       <a href="http://www.haibao.com/question.htm" title="留言反馈" target="_blank">留言反馈</a> 
       <a href="http://www.haibao.com/complaint.htm" title="法律投诉声明" target="_blank">法律投诉声明</a> 
      </div> 
      <div class="copyright">
        Copyright &copy;2006-2015 haibao.com 京ICP备09041801号-150 京ICP证010391号 京公网安备:110108902134 
      </div> 
     </div> 
    </footer> 
  </div>
  </div>
 </body>
</html>
{{ end }}
